

.product-wrapper{
    grid-template: minmax(150px,0.1fr) 1fr minmax(150px,0.25fr)/ 1fr;

}



.product__wrapper{
    height: 100%;
    display: grid;
    grid-template: 1fr 0.5fr / 1fr 0.5fr;
    grid-template-areas: "logo desc" "others desc";
    padding: 80px 80px;
    grid-gap: 40px;
    margin-bottom: 50px;
}

.product__column-1{
    display: grid;
    grid-area: logo;
    grid-template: 1fr/1fr;
 }
.product__column-2{
    grid-area: desc;
}



.product__others{
    font-family: "Open Sans",sans-serif;
    display: grid;
    grid-area: others;
    grid-template: 0.15fr 1fr/1fr;
    grid-gap: 10px;
}

.others__title{
    font-size: 30px;
}
.others__products-raw {
    display: grid;
    grid-template: 0.6fr/1fr 1fr 1fr 1fr 1fr;
    grid-gap: 50px;

}

.other__product{
    display: grid;
    grid-template: 1fr 0.2fr/1fr;
    grid-gap: 20px;
}

.other__name{
    justify-self: center;
    font-size: 18px;
    margin-left: 13%;
}


.other__logo{
    position: relative;
    padding: 0 0 60% 0;


}

.other__logo img{
    position: absolute;
    margin-left: 25%;
    width: 65%;
    height: 100%;
    object-fit: cover;
    top:0;
    left: 0;
    border-radius: 20px;
}
.product__buy{
    align-self: start;
}

.product__logo-wrapper{
    background: white;
    padding: 20px 0 50px 0;
}

.product__main-logo{
    position: relative;
    padding: 0 0 45% 0;

    width: 100%;
}

.product__main-logo img {
    margin-left: 20%;
    height: 100%;
    width: 45%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 10px;
}


.product__main-description{
    height: 76%;
    font-family: "Roboto",sans-serif;
    display: grid;
    grid-gap: 15px;
    grid-template: 0.1fr 0.3fr 0.1fr/1fr;
}




.product__main-title{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
    line-height: 40px;
}

.product__ingridients{
    font-size:20px;
    line-height: 30px;

}

.product__main-description{
    line-height: 25px;
}

.product__buy{
    align-self: center;
    display: grid;
    grid-template: 1fr/1fr 1fr;
    grid-gap: 5px;
}

.product__main-price{
    align-self: end;
}

.product-price__number{
    font-size: 30px;
}

.product-footer__wrapper{
    margin-top: 30px;
}

@media (max-width: 1500px) {

    .product__main-logo{
        padding: 0 0 60% 0;

    }


    .product__main-logo img{
        height: 100%;
    }
    .product__logo-wrapper{
        padding: 0px 20px 50px 0;
    }
    .product__wrapper{
        grid-template-areas: "logo desc" "others others";
    }
    .product-wrapper{
        grid-template: minmax(150px,0.1fr) 1fr minmax(150px,0.3fr)/ 1fr;

    }


}

@media (max-width: 1220px) {
    .product__wrapper{
        padding: 30px 10px;
    }
}

@media (max-width: 1100px) {

    .product-wrapper{
        grid-template: minmax(150px,0.1fr) 1fr minmax(150px,0.4fr)/ 1fr;

    }
}


@media (max-width: 1000px) {
    .product__wrapper{
        grid-template: 0.22fr 0.2fr 0.25fr/1fr;
        padding: 30px 30px;
        grid-template-areas: "logo" "desc" "others";
        grid-gap: 50px;
    }
    .product__logo-wrapper{
        margin-bottom: 20px;
    }
    .product__logo-wrapper{
        padding: 10px 20px 20px 20px;
    }
    .product__main-logo{
        padding: 0 0 50% 0;

    }

    .product__main-logo img {
        margin-left: 0%;
        height: 100%;
        width: 100%;
    }
    .product__others{
        grid-gap:30px;
    }
    .product__main-logo img{
        height: 100%;
        width: 50%;
        margin-left: 20%;
    }
    .other__logo img{
        margin-left: 31%;
        width: 50%;
    }

}


@media (max-width: 880px) {
    .product__main-logo{
        padding: 0 0 60% 0;

    }
    .product__wrapper{
        grid-gap: 40px;
    }
    .others__products-raw{
        grid-template: 1fr 1fr/1fr 1fr 1fr;
    }
    .others__title{
        justify-self: center;
        align-self: center;
    }
    .product__logo-wrapper{
        margin-bottom: 30px;
    }

}
@media (max-width: 660px) {
    .product__main-logo img{
        height: 120%;
    }
    .product-wrapper{
        grid-template: minmax(150px,0.1fr) 1fr minmax(150px,0.5fr)/ 1fr;

    }
}

@media (max-width: 548px) {
    .others__products-raw{
        grid-template: 1fr 1fr 1fr/1fr 1fr;
    }
    .others__title{
        justify-self: center;
        align-self: end;
    }
    .product__others{
        grid-gap: 50px;
    }
    .product__wrapper{
        grid-gap: 60px;
    }
    .product__main-logo img{
        height: 120%;
        width: 70%;
        margin-left: 15%;
    }
    .product__logo-wrapper{
        margin-bottom: 30px;
    }
}

@media (max-width: 420px) {
    .product__main-logo img{
        height: 140%;
        width: 80%;
        margin-left: 10%;
    }
}

@media (max-width: 354px) {
    .others__products-raw{
        grid-template: 1fr 1fr 1fr 1fr/1fr;
    }
    .product__wrapper{
        grid-gap: 40px;
    }


    .product__others{
        grid-template: 0.1fr 1fr/1fr;
    }
    .product__main-logo img{
        height: 200%;
        width: 90%;
        margin-left: 5%;
    }

}