

.sales-main__element{
    border-top: 2px solid #e5e5e5;
    padding: 50px 300px 60px 300px;
    box-sizing: border-box;
    display: grid;
    grid-template: 1fr/1fr 1fr;
    grid-gap: 50px;
    font-family: Roboto;
    margin-bottom: 40px;
}

@media (max-width: 1600px) {
    .sales-main__element{
        padding: 50px 100px 60px 100px;
    }
}

@media (max-width: 1300px) {
    .sales-main__element{
        padding: 50px 50px 60px 50px;
    }
}

@media (max-width: 1200px) {
    .sales-main__element{
        padding: 10px 50px 60px 10px;
    }

}

@media (max-width: 1100px) {
    .sales-main__element{
        grid-template: 0.5fr 0.6fr/1fr;
        padding: 0px 20px 10px 20px;
        background: white;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        border-radius: 10px;
        margin-bottom: 100px;
    }
}



.sales-main__logo{
    width: 100%;
    padding: 0 0 60% 0;
    position: relative;
}



.sales-main__date{
    font-weight: bold;
    padding:10px 0;
    font-size: 16px;
}

.sales-main__title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.sales-main__information{
    line-height: 23px;
}

.sales-main__buttons{
    margin-top: 25px;
}

.sales-main__details{
    color: red;
    border: 2px solid red ;
    background-color: white;
    padding: 10px 80px;
    border-radius: 10px;
    font-weight: bold;
    font-size:15px;
    transition-duration: 0.5s;
}

.sales-main__details:hover{
    color: white;
    background-color: red;
}

.sales-main__activate{
    color: white;
    border: 2px solid white ;
    background-color: red;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: bold;
    font-size:15px;
    transition-duration: 0.5s;
}

.sales-main__logo img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px
}

@media (max-width: 1000px){
    .sales-main__description{
        padding: 0 10px;
    }
    .sales-main__details{
        margin-left: 5px;
        padding: 10px 30px;
    }
    .sales-main__activate{
        padding: 10px 5px;
        margin-right: 5px;
    }
    .sales-main__logo img{
        border-radius: 0px 0px 10px 10px;
    }
}

@media (max-width: 349px) {
    .sales-main__details{
        margin: 0 0 10px 0;
    }
}

.sales-main__activate:hover{
    color: red;
    background-color: white;
    border: 2px solid red ;

}





@media (max-width: 950px){

    .header{
        padding: 0px 30px;
    }
}
@media (max-width: 660px) {
    .header{
        font-size:15px;
        padding: 0px 20px;

    }
}
@media (max-width: 350px) {
    .header{
        font-size: 12px;
        padding: 0px 10px;
    }

}

@media (max-width: 389px) {
    .sales-main__activate{
        margin-top: 20px;
    }
}


